body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}
ul, ol{
 list-style: none;
 text-decoration: none;
 padding-left: 0;
}
a{
text-decoration: none;
}
address{
    text-decoration: none;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
/* header */
nav{
    display: flex;
    margin-right: auto;
}
.header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.navigation-list {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
address ul{
    display: flex;
}
.telmail {
align-items: flex-end;
margin-right: 40px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.navigation-list:focus,
.navigation-list:hover,
.address:focus,
.address:hover,
.telmail:focus,
.telmail:hover{
color: #404BBF;
}
.web{
display: flex;
align-items: center;
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-size: 18px
}
.studio{
color:#2E2F42;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Hero */
.hero .container{
    max-height: 600px;
    max-width: 1158;
}
.hero button{

}
.hero{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
}
.container .hero{

    min-height: 599px;
    min-width: 1158px;
}
.container .button{
    display: flex;
    color:#ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:focus{
    background-color: #404BBF;
    cursor: pointer;
}
.button:hover{
    background-color: #404BBF;
    cursor:pointer;
}
/* section 1 */
.listben{
    background-color: #FFFFFF;
}
.container .listben{
    display: flex;
    min-width: 600px;
    min-height: 343px;
}
/* section 2 */


.team{
    min-width: 600px;
    min-height: 1158px;
    background-color: #F4F4FD;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.team ul{
margin-top: 229px;
gap: 16px;
display: flex;
max-width: 264px;
max-height: 380px;
}
.container h2{
}
.teamheader {
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    background-color: #FFFFFF
}
.team-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-transform: capitalize;
    background-color: #FFFFFF;
}
/* section 3 */
/* .portfolio {
    display: flex;
    flex-direction: row nowrap;
    padding: auto;
    max-width: 1158px;
}  */
.container .portfolio{
    flex-direction: row;
    max-width: 1158px;
    max-height: 1240px;
    align-items: center;
    justify-content: center;
} 

.portfolio{
    background-color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.services{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.serv-head{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-transform: capitalize;
}
.ser-p{
    font-size: 16px;
    line-height: 1.5;
    color:#434455;
    letter-spacing: 0.02em;
}
.ls-color {
    color: #FFFFFF;
    background-color: #ffffff;

}

/* тут проблема! */
.portfolio .ls-color-1{
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.container .portfolio{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
} 
    
/* footer */
.web_footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 18px
}
.studio_footer{
    color: #F4F4FD;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.footer{
    background-color: #2E2F42;
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer_p {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
