body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}
ul, ol{
 list-style: none;
 text-decoration: none;
 padding-left: 0;
}
a{
text-decoration: none;
}
img{
    display: block;
}
address{
    text-decoration: none;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
/* header */
nav{
    display: flex;
    margin-right: auto;
    border-bottom: 1px solid #e7e9fc;
    margin-right: 40px
}

.header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-list {
    gap: 40px;
    margin-right: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
}
.navigation-list:first-child{
    margin-left: 28px;
}
.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
address ul{
    display: flex;
    margin-left: 175px;
    gap: 40px;
}
.telmail {
display:flex;
align-items: flex-end;
justify-content: flex-end;
margin-right: 40px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.navigation-list:focus,
.navigation-list:hover,
.address:focus,
.address:hover,
.telmail:focus,
.telmail:hover{
color: #404BBF;
}
.web{
margin-right: 76px;
display: flex;
align-items: center;
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-size: 18px
}
.studio{
color:#2E2F42;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header  .container {
    display: flex;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list{
    gap: 40px;
    margin-right: 40px;
}

.list:last-child{
    margin-right: 0px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
/* Hero section 1 */
.hero .container{
    display: block;
    justify-content: center;
    max-width: 496px;
    padding-left: 331px;
    padding-right: 331px;
    margin-bottom: 0;
    min-height: 599px;
    min-width: 1158px;
    background-color: #2E2F42;
}
.button{
    display: block;
    border:none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height:  56px;

}
.hero{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
    padding: 188px 0 188px;
} 
.herohead{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
    padding-bottom: 0;
    max-width: 496px;
}

.container .hero{

}
.container .button{
    display: block;
    color:#ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:focus{
    background-color: #404BBF;
    cursor: pointer;
}
.button:hover{
    background-color: #404BBF;
    cursor:pointer;
}
/* section 2 */
.sectionbenefits {
    padding: 120px 0 120px;
}
.container {

}
.visually-hidden {

}

.benefits {
    align-items: center;
    color: #2E2F42 ;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);
}
.paragraphben {
    align-items: center;
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.benefitlist{
    display: flex;
    padding: 120px 0 120px;
    gap: 24px;
}
.benefitlist:last-child{
margin-right: 0
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ls-color-i{
    display: flex;
    margin-right: 24px
}
.ls-color-i:last-child{
    margin-right: 0;
}
.listben {
    width: 263px ;
    height: 104px ;
    margin-left: 15px;
    align-items: center;
}
/* section 3 */


.team{
    padding-top: 120px; 
    padding-bottom: 120px;
}
.team ul{

}
.team .container{
    padding: 32px 0 32px;
}
.teamheader{
    margin-bottom: 72px;
    
}
.names{
    text-align: center;
    margin-bottom: 8px;
}
.team-p{
    text-align: center;
}
.team .container{
    max-height: 732px;
}

.ls-color{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
    margin-right: 0
}
.containerworker{ 
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
/* section 4 */
.portfolio{
    padding-top: 120px; 
    padding-bottom: 120px;  
}
.container .portfolio{
    margin-bottom: 72px;
}
.container{
}
.ls-color-o{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.ls-color-o:nth-child(3){
    margin-right: 0;
    margin-bottom: 0;
}
.serv-head{
    margin-bottom: 8px
}
.ser-p{
}
.portfolio-list{
    margin-bottom: 48px;
    row-gap: 48px;
    margin-right: 24px;
}
.portfolio-list:last-child{
    margin-bottom: 0px;
}
.containerportfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
/* footer */

.web_footer {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 18px
}
.studio_footer{
    display: inline-block;
    margin-bottom: 16px;
    color: #F4F4FD;
    letter-spacing: 0.03em;
    line-height: 1.17;
    padding: 100px 0 100px
}
.footer_p{
    background-color: #2E2F42;
    color:#F4F4FD;
    height: 312px;
    min-width: 1158px;
    padding: 100px 0 100px;
}
.footer_p_i{
    padding-right: 72px;
    max-width: 264px
}
.newline {
    display: block;
}